<div class="chart__wrapper">
    <canvas
        baseChart
        [datasets]="labelChartData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"
        [plugins]="lineChartPlugins"
    ></canvas>
</div>

<mat-table [dataSource]="bloodPressures" class="mat-elevation-z8">
    <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef>Fecha</mat-header-cell>
        <mat-cell *matCellDef="let bloodPress">{{ bloodPress.date }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="min">
        <mat-header-cell *matHeaderCellDef>Min</mat-header-cell>
        <mat-cell *matCellDef="let bloodPress">{{ bloodPress.min }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="max">
        <mat-header-cell *matHeaderCellDef>Max</mat-header-cell>
        <mat-cell *matCellDef="let bloodPress">{{ bloodPress.max }}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedCols"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedCols"></mat-row>
</mat-table>

<div class="info__container" *ngIf="!hasRow">
    <img class="info__image" src="../../../../assets/empty.png" alt="Empty" />
</div>

<div class="fab__container">
    <button mat-fab color="accent" (click)="openPopup()">
        <mat-icon>add</mat-icon>
    </button>
</div>
