:host {
    display: block;
    min-height: 90vh;
    height: stretch;
    padding: 2rem;
}

.menu__container {
    display: grid;
    grid-gap: 1rem;
    place-content: center;
    /* grid-auto-rows: 150px; */
}

.menu__item {
    position: relative;
}

.menu__img {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: auto;
}

.btn {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
