<div class="menu__container">
    <mat-card class="menu__item">
        <mat-card-header>
            <mat-card-title>Glucosa</mat-card-title>
        </mat-card-header>
        <img
            class="menu__img"
            src="../../../../assets/glucometer.png"
            alt="Blood Pressure"
        />
        <div
            matRipple
            class="btn menu__action"
            [routerLink]="['/glucose']"
        ></div>
    </mat-card>
    <mat-card class="menu__item">
        <mat-card-header>
            <mat-card-title>Presión sanguínea</mat-card-title>
        </mat-card-header>
        <img
            class="menu__img"
            src="../../../../assets/bloodPressure.png"
            alt="Glucose"
        />
        <div matRipple class="btn menu__action"></div>
    </mat-card>
    <mat-card lass="menu__item">
        <mat-card-header>
            <mat-card-title>Peso</mat-card-title>
        </mat-card-header>
        <img
            class="menu__img"
            src="../../../../assets/scale.png"
            alt="Weight"
        />
        <div matRipple class="btn menu__action"></div>
    </mat-card>
    <mat-card lass="menu__item">
        <mat-card-header>
            <mat-card-title>Temperatura</mat-card-title>
        </mat-card-header>
        <img
            class="menu__img"
            src="../../../../assets/thermometer.png"
            height="50%"
            alt="Temperature"
        />
        <div matRipple class="btn menu__action"></div>
    </mat-card>
</div>
